# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

In [ ]:
nr1 = 5
nr2 = 10

In [1]:
nr1 = 5
nr2 = 10

# Add the numbers
sum_result = nr1 + nr2

# Multiply the numbers
product_result = nr1 * nr2

print("Sum:", sum_result)
print("Product:", product_result)

Sum: 15
Product: 50

# Lists

### Extract the first and last element in the list.

In [ ]:
l = [1, 2, 3, 10, 15, 100]

In [2]:
l = [1, 2, 3, 10, 15, 100]

first_element = l[0]
last_element = l[-1]

print("First element:", first_element)
print("Last element:", last_element)

First element: 1
Last element: 100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [ ]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [3]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

# Check for list_1
result_1 = list_1[0] == list_1[-1]

# Check for list_2
result_2 = list_2[0] == list_2[-1]

print("List 1 - First and last are the same:", result_1)
print("List 2 - First and last are the same:", result_2)

List 1 - First and last are the same: True
List 2 - First and last are the same: False

### Replace the number 4567 in the list with the number 22.

In [ ]:
replace_4567 = [100, 2, 4567, 5, 7]

In [4]:
replace_4567 = [100, 2, 4567, 5, 7]

# Find the index of 4567
index_4567 = replace_4567.index(4567)

# Replace it with 22
replace_4567[index_4567] = 22

print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [ ]:
replace_two_numbers = [1, 2, 3, 4, 5]

In [5]:
replace_two_numbers = [1, 2, 3, 4, 5]

replace_two_numbers[2:4] = [30, 40]

print(replace_two_numbers)

[1, 2, 30, 40, 5]

### Print out the list below but in reverse order.

In [ ]:
my_list = [1, 2, 3, 10, 15, 100]

In [6]:
my_list = [1, 2, 3, 10, 15, 100]

print(my_list[::-1])

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [ ]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [7]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

# 1. Extract the number 5 in the list within the list
num_5 = list_containing_a_list[2][3]

# 2. Extract the whole list [10, 12, 13, 5, 100]
inner_list = list_containing_a_list[2]

# 3. Extract 12, 13, 5 in the list within the list
subset = list_containing_a_list[2][1:4]

# 4. Extract the number 8888 with negative indexing
num_8888 = list_containing_a_list[-4]

# 5. Extract 1, 2, [10, 12, 13, 5, 100]
partial = list_containing_a_list[0:3]

print("Number 5:", num_5)
print("Whole inner list:", inner_list)
print("12, 13, 5:", subset)
print("8888 with negative indexing:", num_8888)
print("1, 2, and inner list:", partial)

Number 5: 5
Whole inner list: [10, 12, 13, 5, 100]
12, 13, 5: [12, 13, 5]
8888 with negative indexing: [10, 12, 13, 5, 100]
1, 2, and inner list: [1, 2, [10, 12, 13, 5, 100]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [ ]:
empty_list_1 = []

In [8]:
empty_list_1 = []

empty_list_1.append(10)
empty_list_1.append('Hello')

print(empty_list_1)

[10, 'Hello']

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [ ]:
empty_list_2 = []

In [9]:
empty_list_2 = []

empty_list_2.extend([10, 'Hello'])

print(empty_list_2)

[10, 'Hello']

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [ ]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = [x * 10 for x in list_example if 4 <= x <= 8]

print(new_list)

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [ ]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

In [11]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

result = [a + b for a, b in zip(list1, list2)]

print(result)

['My', 'name', 'is', 'Antonio']

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [ ]:
my_tuple = (10, 20, 30, 40)

In [12]:
my_tuple = (10, 20, 30, 40)

a, b, c, d = my_tuple

print(a)  # 10
print(b)  # 20
print(c)  # 30
print(d)  # 40

10
20
30
40

### Explain with your own words what the code below containing two scenarios does.

In [17]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

print('Scenario 1: Unpacks the tuple into multiple variables. Scenario 2: Stores the whole tuple in one variable.')

2
4
8
16

(3, 9, 27, 81)
Scenario 1: Unpacks the tuple into multiple variables. Scenario 2: Stores the whole tuple in one variable.

### Count the number of times 24 occurs in the tupple.

In [ ]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [19]:
tuple_22 = 24, 2, 4, 24, 24, 5

count_24 = tuple_22.count(24)

print(count_24)

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [ ]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [20]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

t1, t2 = t2, t1

print("t1:", t1)
print("t2:", t2)

t1: ('R', 'Julia')
t2: ('Python', 'MATLAB')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [ ]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [21]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

# Use zip to combine the lists and convert to a dictionary
my_dict = dict(zip(l1, l2))

print(my_dict)

{1: 'Python', 2: 'C++', 3: 'Java'}

### Print out the value corresponding to the key "1".

In [ ]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [22]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

print(dictionary[1])

as

### Explain with your own words what the code does.

In [23]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [ ]:
y(2)['y1']
Funktionen tar ett tal x och returnerar en ordbok med tre nycklar ('y0', 'y1', 'y2') som motsvarar x, x**2 och x**3.

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [24]:
my_set = {"Python", "R", "MATLAB", "Julia", "SAS", "C"}

print(my_set)

{'MATLAB', 'R', 'C', 'Julia', 'Python', 'SAS'}

### Find all elements that are in atleast one of the sets.

In [ ]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

In [25]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

result = set_a | set_b

print(result)

{0, 1, 2, 99, 100, 765, 15}

### Find all the items that are in *both* lists and return those values in a list.

In [ ]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [ ]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

common_items = [item for item in l1 if item in l2]

print(common_items)

['Python', 'Julia']

### Find all the unique elements of the list.

In [ ]:
l = [1, 1, 2, 2, 3, 1, 2]

In [27]:
l = [1, 1, 2, 2, 3, 1, 2]

unique_elements = list(set(l))

print(unique_elements)

[1, 2, 3]

### Find all the elements that are in set_1 but not in set_2.

In [ ]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

In [29]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

result = set_1 - set_2
print(result)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [31]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]
for item in looping_list:
    print(item)

0
a
b
[1, 2, 3]
('Python', 'R')
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [32]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]
for index, item in enumerate(looping_list):
    print(f"Index {index}: {item}")

Index 0: 0
Index 1: a
Index 2: b
Index 3: [1, 2, 3]
Index 4: ('Python', 'R')
Index 5: 55

### Write a for loop to print out each letter in the string.

In [ ]:
for_string = 'Python!'

In [33]:
for_string = 'Python!'

for letter in for_string:
    print(letter)

P
y
t
h
o
n
!

### Write a while loop to print out each letter in the string.

In [ ]:
while_string = 'Is Awesome!'

In [34]:
while_string = 'Is Awesome!'

index = 0

while index < len(while_string):
    print(while_string[index])
    index += 1

I
s

A
w
e
s
o
m
e
!

### Print the numbers 1, 2, ..., 10 with a while loop.

In [35]:
num = 1

while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [ ]:
numbers = [10, 20, 34, 46, 55]

In [36]:
numbers = [10, 20, 34, 46, 55]

for num in numbers:
    if num % 5 == 0:
        print(num)

10
20
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [37]:
for num in range(0, 21, 5):
    print(num)

0
5
10
15
20

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [ ]:
    list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = []
for num in list_example:
    if 4 <= num <= 8:
        new_list.append(num * 10)

print(new_list)

[40, 50, 60, 70, 80]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [39]:
def uppercase_converter(input_string):
    return input_string.upper()

result = uppercase_converter('hello')
print(result)

HELLO

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [40]:
def sum_and_subtract(num1, num2):
    return num1 + num2, num1 - num2


result = sum_and_subtract(10, 5)
print("Sum:", result[0])
print("Subtraction:", result[1])

Sum: 15
Subtraction: 5

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

In [41]:
def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1):
    print(f"Positional only argument: {pos_only_1}")
    print(f"Positional or keyword argument: {pos_or_kwd}")
    print(f"Keyword only argument: {kwd_only_1}")


f(1, 2, kwd_only_1="Hello")

Positional only argument: 1
Positional or keyword argument: 2
Keyword only argument: Hello

### Assign a different name to the function and call it through the new name.

In [ ]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

In [42]:
def my_sum_function(x1, x2):
    return x1 + x2

new_name = my_sum_function

result = new_name(1, 2)
print(result)

3

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [43]:
def f(num1, num2, operation):
    if operation == 'add':
        return num1 + num2
    elif operation == 'multiply':
        return num1 * num2
    else:
        raise ValueError('Choose either "add" or "multiply"')

print(f(2, 5, 'add'))
print(f(2, 5, 'multiply'))

try:
    print(f(2, 5, 'test'))
except ValueError as e:
    print(e)

7
10
Choose either "add" or "multiply"

### Find all the items that are in *both* lists and return those values in a list.

### Run the program below and explain what it does.

In [46]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

Mom, I met a person whos name is: Alice

In [ ]:
Den ställer frågan: What is your name Stranger?
och man svarar med ett Namn eller något.
Sedan får man en response: Mom, i met a person whos name is: Alice

Vilket menar att personen möter en person som heter "Alice" och under en senare tid så möter han sin mamma som han säger att han träffade en person som heter "Alice".

Det finns typo i whos: "whos" borde vara "whose".

Object `Stranger` not found.

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [ ]:
string_1 = 'anna'
string_2 = 'john'

In [48]:
def is_palindrome(s):
    return s == s[::-1]

string_1 = 'anna'
string_2 = 'john'

print(f"{string_1} is a palindrome: {is_palindrome(string_1)}")
print(f"{string_2} is a palindrome: {is_palindrome(string_2)}")

anna is a palindrome: True
john is a palindrome: False

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [ ]:
number = 8

In [ ]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

In [ ]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

In [ ]:
Använd if-satser när du vill kontrollera flera villkor oberoende av varandra och låta flera block köra om villkoren är sanna.

Använd if-elif-kedjan när villkoren är ömsesidigt uteslutande och du vill att endast ett block körs, vilket sparar på beräkningarna.

age = 25
if age < 18:
    print("Minor")
if age < 30:
    print("Young Adult")
if age < 60:
    print("Adult")

temperature = 35
if temperature < 0:
    print("Freezing")
elif temperature < 20:
    print("Cold")
elif temperature < 40:
    print("Warm")